doctype html
html(lang='zh-Hant-TW')
  head
    include pug/include/template.pug
    include pug/include/variables.pug
    include pug/include/ga.pug
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    meta(property='og:image' content='img/favicon.png')
    meta(property='og:title' content='樂台計畫 - 大專院校民謠音樂比賽平台')
    meta(property='og:type' content='website')
    meta(property='og:description' content=description)
    meta(name='description' content=description)
    meta(name='author' content='Huang Xingqiao')
    title 樂台計畫 - 大專院校民謠音樂比賽平台
    include pug/include/style.pug
  body
    #app
      include pug/include/nav.pug
      header
        .logo.horizontal.no-animation
          .box
          h1
            each _, i in `樂台計畫`
              span(style=`animation-delay: ${i * .08 + .65}s`)=_
        h2 大專院校民謠音樂比賽平台
        
      section#line-app.line-app(ref='lineAppSection')
        .container
          .row.justify-content-around
            .col-12.col-md-3.col-lg-3.order-2.order-md-1
              .screenshot-area
                img.mockup(src='img/screenshot/line-app-mockup.png' alt='Line App 畫面截圖' :class='{ shrink: isLineAppScreenshotShrink }')
              
            .col-12.col-md-8.col-lg-6.order-1.order-md-2
              .align-center-article
                h3.text-center.text-md-left 三分鐘完成報名，#[br]現在加入樂台計畫！
                .mb-3.text-center.text-md-left
                  img.qrcode.d-none.d-md-inline-block.mr-3(src='img/line-app-qrcode.svg' alt='樂台計畫 Line App QRCode')
                  a.gradient-btn.line(target='_blank' href='./line/index.pug') 加入 Line 官方帳號
                
                .d-flex.justify-content-center.justify-content-md-start(v-cloak)
                  .count-to.text-center.text-md-left
                    count-to.number(:end-val='2200' :duration='4000' suffix='+' :autoplay='false' ref='count-to-user')
                    .info 樂台計畫總用戶數
                  .count-to.text-center.text-md-left
                    count-to.number(:end-val='14' :duration='4000' suffix='' :autoplay='false' ref='count-to-partner')
                    span.label 所
                    .info 合作院校
                    
      //- section.secondary
        .container
          .row.justify-content-around
            .col-12.col-md-3.col-lg-3.order-2.order-md-1
              .screenshot-area
                img.screenshot(src='img/screenshot/competition.png' alt='即時賽況畫面截圖')
            .col-12.col-md-8.col-lg-6.order-1.order-md-2
              .align-center-article
                h3.big 即時賽況 你看得見
                p.pl-1 選手掌握比賽流程，觀眾 Follow 精彩演出不間斷
                
      section#news.secondary
        .container
          .row 
            .col-12.col-lg-12.mb-3(@click='fetchArticle()')
              h3 最新消息
              
            template(v-if='!articleList')
              +article-card-loader 
              - let i = 0
              while ++i < 3
                +article-card-loader 
                
            template(v-else-if='articleList.length > 0' v-cloak)
              .col-12.col-md-6.col-lg-4(v-for='(i, index) in articleList')
                .card(@click='showArticleModal(index)')
                  img.card-img-top(:src='i.image')
                  .card-img-overlay 
                    .author
                      img.avatar(src='https://i.imgur.com/INFIh4d.png')
                      .info
                        .name {{ i.author }}
                        .date {{ convertTime(i.timestamp) }}
                  .card-body(v-html='convertMarkdown(i.article)')

                    
            template(v-else) 目前尚無最新消息
            
        sweet-modal(ref='article-modal' width='100%' v-cloak) 
          .container(v-if='currentArticle')
            .row.justify-content-center
              .col-12.col-lg-8
                .author
                  img.avatar(src='https://i.imgur.com/INFIh4d.png')
                  .info
                    .name {{ currentArticle.author }}
                    .date {{ convertTime(currentArticle.timestamp) }}
              .col-12.col-lg-8
                .sweet-modal-content
                  img(:src='currentArticle.image')
                  div(v-html='convertMarkdown(currentArticle.article)') 
              .col-12
                .d-flex.justify-content-center
                  a.big-close-btn(href='#' @click.stop='hideArticleModal' title='關閉')
            
                  
              
      section#partner 
        .container
          .row.justify-content-center
            .col-12.mb-3
              h3 合作夥伴
            .col-12.col-lg-10
              .row.partners
                each _ in partners
                  .col-6.col-sm-6.col-xl-4
                    a.item(href=_.link :href=`getFacebookLink(${_.facebookId})` target='_blank')
                      img(src=_.img)
                      h4=_.name
                      
      section#contact.secondary(ref='contactSection' v-cloak)
        .container
          .row.justify-content-center.align-items-center
            .col-12.col-lg-6
              h3 聯絡我們
              transition(name='contact' mode='out-in')
                form(@submit.prevent='submitContact' v-if='contactStatus <= 1')
                  input(placeholder='姓名 *' maxlength=50 required v-model.trim='contact.name')
                  input(type='email' placeholder='Email *' maxlength=100 required v-model.trim='contact.email')
                  input(type='tel' placeholder='聯絡電話' maxlength=50 v-model.trim='contact.phone')
                  textarea(placeholder='內容 *' required rows=4 maxlength=1000 v-model.trim='contact.content')  
                  button.gradient-btn.submit(type='submit' :disabled='contactStatus === 1') {{ contactStatus === 1 ? `傳送中...` : `送出` }}
                  small.text-danger(v-if='errorMessage') {{ errorMessage }}
                .success(v-else-if='contactStatus === 2') 
                  img(src='img/check.svg')
                  span 謝謝你的來信，我們將會盡快與您聯繫!
            .col-3.d-none.d-lg-flex: .envelope(:class='{ shrink: isEnvelopeShrink }')

    include pug/include/footer.pug
    include pug/include/script.pug
