extends pug/layout/layout.pug
block script
  script(src='index.js')
block content
  navbar
  main
    header
      .logo.horizontal.no-animation
        .box
        h1
          each _, i in `樂台計畫`
            span(style=`animation-delay: ${i * .08 + .65}s`)=_
      h2 大專院校民謠音樂比賽平台
      
    section#line-app.line-app(ref='lineAppSection')
      .container
        .row.justify-content-around
          .col-12.col-md-3.col-lg-3.order-2.order-md-1
            .screenshot-area
              img.mockup(src='img/screenshot/line-app-mockup.png' alt='Line App 畫面截圖' :class='{ shrink: isShrink.lineApp }')
            
          .col-12.col-md-8.col-lg-6.order-1.order-md-2
            .align-center-article
              h3.text-center.text-md-left 三分鐘快速完成報名
              p.text-center.text-md-left 不需下載 App，用 LINE 就能加入樂台計畫
              .mb-3.text-center.text-md-left
                img.qrcode.d-none.d-md-inline-block.mr-3(src='img/line-app-qrcode.svg' alt='樂台計畫 LINE App QRCode')
                a.gradient-btn.line(target='_blank' href='./line/index.pug') 加入 LINE 官方帳號
              
              .d-flex.justify-content-center.justify-content-md-start(v-cloak)
                .count-to.text-center.text-md-left
                  count-to.number(:end-val='3500' :duration='3000' suffix='+' :autoplay='false' ref='count-to-user' v-cloak) 3500+
                  .info 樂台計畫總用戶數
                .count-to.text-center.text-md-left
                  count-to.number(:end-val='23' :duration='3000' :autoplay='false' ref='count-to-partner' v-cloak) 23
                  span.label 所
                  .info 
                    | 合作院校 #[sup: a(v-scroll-to='{ el: `#partner`, offset: -60 }' href='#') *]
                  
    section#payment(ref='paymentSection')
      .container
        .row.justify-content-around
          .col-12.col-md.col-lg-5.offset-lg-1
            .align-center-article
              h3 自動化金流服務系統
              p.pl-1 主動以 LINE 即時推播繳費狀態#[br]取代以往人工查核與撰寫訊息方式#[br]大幅降低時間成本與風險
          .col-12.col-md-6.col-lg-4(style={position: `relative`})
            .screenshot-area(style={ padding: `0 1.5rem` })
              img.screenshot.unlimited(src='img/screenshot/payment-message.png' alt='金流繳費狀態訊通知' :class='{ shrink: isShrink.payment }')
            .line-icon
              img(src='img/screenshot/line-logo.svg' :class='{ shrink: isShrink.payment }')
              .number: span(:class='{ shrink: isShrink.payment }') 1
                
                
    section(ref='backstageSection')
      .container
        .row.justify-content-around
          .col-12.col-md-6.col-lg-5.order-2.order-md-1 
            .screenshot-area
              img.mockup.unlimited(src='img/screenshot/backstage.png' alt='後台管理介面' :class='{ shrink: isShrink.backstage }' )
          .col-12.col-md.col-lg.order-1.order-md-2.offset-lg-1 
            .align-center-article
              h3 為賽事而生的管理後台 
              p.pl-1 樂台計畫提供各大專院校系統化管理解決方案#[br]快速掌握賽事籌備狀況，即時處理報名資料#[br]同步技術解決各單位資訊不對稱問題
              
    section#news(v-cloak)
      .container
        .row 
          .col-12.col-lg-12.mb-3 
            h3 最新消息
            
          template(v-if='!articleList')
            //- 插入三個偽 loader
            +article-card-loader 
            - let i = 0
            while ++i < 3
              +article-card-loader 
              
          template(v-else-if='articleList.length > 0' v-cloak)
            .col-12.col-md-6.col-lg-4(v-for='(i, index) in articleList')
              a.card(:href='`/news.html?id=${i.id}`' target='_blank')
                img.card-img-top(:src='i.image')
                .card-img-overlay 
                  .author
                    img.avatar(src='https://i.imgur.com/INFIh4d.png')
                    .info
                      .name {{ i.author }}
                      .date {{ convertTime(i.timestamp) }}
                .card-body(v-html='convertMarkdown(i.article)')
            .col-12
              a.gradient-btn.secondary(href='#' @click.prevent='fetchArticle(articleList[articleList.length - 1].id)' v-if='!isArticleEnd' :disabled='isFetchingArticle') 載入更多 »
                  
          template(v-else) 目前尚無最新消息

    section#partner 
      .container
        .row.justify-content-center
          .col-12.mb-3
            h3 合作夥伴 
          .col-12.col-lg-12
            //- p 你熟悉的音樂賽事全在這
            .row.partners
              each _ in partners
                .col-6.col-md-4.col-lg-3
                  a.item(href=_.link :href=`getFacebookLink(${_.facebookId})` target='_blank')
                    img(src=_.img)
                    .info
                      h4=_.name
                      small.school=_.schoolName
    contact-us
